.social {
    padding: 9px 0;
    &-link {
        text-decoration: none;
        i {
            $size: 50px;

            height: $size;
            width: $size;
            line-height: $size;
            font-size: $size * 0.5;
            background-color: color(accent);
            color: color(bg-dark);
            border-radius: 50%;
        }
    }
}
